/* MOBILE */
@media only screen and (max-width: 600px) {
  .sidenav-overlay {
    background-color: transparent;
  }
  .swiper-container {
    height: 80% !important
  }
  .title {
    left: 50%;
  }
  h1 {
    font-size: 40px;
    line-height: 30px;
  }
  h1 span {
    font-size: 30px;
  }
  .discover {
    padding: 7px;
    font-size: 10px;
    letter-spacing: 0;
    margin-top: 20px;
  }
  .container-wrap {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }
  /* ---------------------- */
  .swiper-container-2 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .swiper-button-prev, .swiper-button-next {
    top: 45px;
  }
  .sub-title h2 {
    margin: 20px 0;
  }
  /* ----------------------- */
  .wrap-container {
    width: 100% !important;
    flex-direction: column !important;
  }
  .texts {
    font-size: 18px;
    margin-left: 0;
  }
  h6 {
    font-weight: 700;
    margin-top: 5px;
    font-size: 18px;
  }
  .swiper-container-3 {
    margin: 0 auto !important;
  }
  .swiper-container-4, .swiper-container-3 {
    width: 100% !important;
  }
  img[src="img/concert.png"] {
    width: 60%;
    object-fit: contain;
  }
  .purchase-2 {
    font-size: 7px;
    padding: 7px 10px;
  }
  /* ---------------------- */
  .container {
    width: 100%;
  }
  .california {
    white-space: normal;
  }
  .founder {
    text-align: center;
    padding-left: 0 !important;
  }
  .california  span {
    color: #df001f;
  }
  /* -------------------------- */
  .copyright {
    font-size: 10px;
  }
  /* -------------------------- */
  .footer-link, .copyright {
    font-size: 10px;
  }
  /* -------------------------- */
  .salaud {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .song {
    width: 100%;
  }
  .instagram {
    width: 100%;
  }
  .inst {
    justify-content: space-around;
  }
  /* ---------------------- */
  h1 {
    font-size: 18px;
    white-space: normal;
    text-align: center;
  }
  .title-2 {
    left: 0;
  }
  /* ------------------------ */
  .nav-wrapper {
    width: 90%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .sidenav-overlay {
    background-color: transparent;
  }
  .title {
    left: 40%;
  }
  h1 {
    font-size: 50px;
  }
  h1 span {
    font-size: 40px;
  }
  /* ----------------------- */
  .texts {
    font-size: 16px;
    margin-left: 10px;
  }
  .purchase-2 {
    font-size: 7px;
    padding: 7px 10px;
  }
  .swiper-slide-4 {
    margin-right: 0 !important;
  }
  /* ------------------------- */
  .container {
    width: 100%;
  }
  /* ------------------------- */
  .song {
    width: 100%;
  }
  .instagram {
    width: 100%;
  }
  .inst {
    justify-content: space-around;
  }
  /* ------------------------- */
  h1 {
    font-size: 18px;
    text-align: center;
  }
  .title-2 {
    left: 40%;
  }
  /* ------------------------ */
  .nav-wrapper {
    width: 90%;
  }
}
